.loading {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  &-spinner {
    animation: spin 2s linear infinite;
    max-width: 90px;
    flex-grow: 1;

    svg {
      width: 100%;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
