@import '../../theme/colors.scss';

.text-input {
  margin: 1rem 0;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  label {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  input {
    display: block;
    border: 2px solid #c0c0c0;
    border-radius: 8px;
    outline: none;
    padding: 8px 16px;
    transition: border 0.2s ease-in, box-shadow 0.2s ease-in;
    width: 100%;

    &.error {
      border-color: #ff0000;
    }

    &:focus {
      border-color: $green;
    }
  }

  &-errors {
    background: #ffffff;
    height: 1.2rem;
    position: absolute;
    left: 16px;
    bottom: -4px;
  }
}
