@import '../../theme/colors';

.footer {
  background-color: $green;
  color: #ffffff;
  padding: 1rem 0;
  font-size: 1.4rem;
  display: flex;
  align-items: center;

  &-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: #ffffff;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
