.modal {
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 999;

  &-container {
    color: #0e0e0e;
    background-color: #ffffff;
    border: 2px solid #c0c0c0;
    border-radius: 8px;
    box-shadow: 0 16px 32px 0 rgba(55, 58, 75, 0.35);
    margin: auto;
    margin-top: 20vh;
    padding: 2rem 3rem;
    position: relative;
    width: 500px;

    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .modal-container {
    width: 350px;
  }
}

@media only screen and (max-width: 375px) {
  .modal-container {
    width: 325px;
  }
}
