.radio-button {
  input {
    left: -1000%;
    position: absolute;

    &:focus {
      ~ label {
        font-style: italic;
      }
    }
  }

  &-icon {
    display: inline;

    svg {
      height: 14px;
      width: 14px;
    }
  }

  label {
    margin-left: 0.5rem;
  }
}
