.shopping-list {
  padding: 4rem 0;
  height: 100%;
  width: 85%;
  margin: 0 auto;

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6rem;
    grid-row-gap: 2rem;
  }
}

@media only screen and (max-width: 950px) {
  .shopping-list {
    &-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width: 600px) {
  .shopping-list {
    padding: 2rem 0;

    &-grid {
      grid-template-columns: 1fr;
      grid-row-gap: 0;

      // orders empty lists to end of list
      .empty {
        order: 100;
      }
    }
  }
}
