@import './colors.scss';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ffffff;
  color: $black;
  font-family: 'Arial', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.container {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
}
